*{
    margin: 0;
    padding:0;
    font-family: inherit;
}


*,*::before,*::after{
    box-sizing: inherit;
}
:root{
    --color-primary:#eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1:#faf9f9;
    --color-grey-light-2:#f4f2f2;
    --color-grey-light-3:#f0eeee;
    --color-grey-light-4:#ccc;

    --color-grey-dark-1:#333;
    --color-grey-dark-2:#777;
    --color-grey-dark-3:#999;
}

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media only screen and (max-width:600px){
            @content;
        }
    }
    @if $breakpoint == tab-port{
        @media only screen and (max-width:900px){
            @content;
        }
    }
    @if $breakpoint == tab-land{
        @media only screen and (max-width:1200px){
            @content;
        }
    }
    @if $breakpoint == big-desktop{
        @media only screen and (min-width:1800px){
            @content;
        }
    }
}


html{
    font-size: 62.5%;
    font-family: 'Arvo', serif;
    box-sizing: border-box;

    @include respond(big-desktop){
        font-size:120%;
    }
    @include respond(land-port){
        font-size:55%;
    }
    @include respond(phone){
        font-size:45%;
    }
}

body{
    min-height: 100vh;
    line-height: 1.7;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom,var(--color-primary),var(--color-primary-light));
}