.container{
    width: 80%;
    margin:8rem auto;
    background:var(--color-grey-light-2);
    box-shadow: 1rem 2rem 10rem rgba(black,.4);

    @include respond(tab-land){
        margin:0;
        width: 100%;
    }
}

.header{
    height:8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon{
        flex: .5;
    }

    &-search{
        flex: 2;
    }

    &-interactive{
        flex: .5;
        display: flex;
        justify-content: space-around;
    }
}

.main{
    display: flex;

    @include respond(tab-port){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.sidebar{
    flex: 0 0 20%;
    background-color: var(--color-grey-dark-1);
}

.hotel-view{
    flex:auto;
    background-color: orange;
}
