* {
  margin: 0;
  padding: 0;
  font-family: inherit; }

*, *::before, *::after {
  box-sizing: inherit; }

:root {
  --color-primary:#eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3:#f0eeee;
  --color-grey-light-4:#ccc;
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999; }

html {
  font-size: 62.5%;
  font-family: 'Arvo', serif;
  box-sizing: border-box; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 120%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 45%; } }

body {
  min-height: 100vh;
  line-height: 1.7;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light)); }

.container {
  width: 80%;
  margin: 8rem auto;
  background: var(--color-grey-light-2);
  box-shadow: 1rem 2rem 10rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 1200px) {
    .container {
      margin: 0;
      width: 100%; } }

.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-icon {
    flex: .5; }
  .header-search {
    flex: 2; }
  .header-interactive {
    flex: .5;
    display: flex;
    justify-content: space-around; }

.main {
  display: flex; }
  @media only screen and (max-width: 900px) {
    .main {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.sidebar {
  flex: 0 0 20%;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  flex: auto;
  background-color: orange; }

.header-icon--image {
  height: 4rem;
  margin-left: 2rem; }

.header-search > form {
  display: flex;
  align-items: center; }

.header-search--input {
  width: 40%;
  margin-left: 10%;
  margin-right: -3rem;
  height: 3rem;
  padding: .5rem 2rem;
  border: none;
  border-radius: 50rem;
  transition: all .5s;
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-2); }
  .header-search--input:focus {
    width: 44%;
    outline: none; }
  .header-search--input::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: var(--color-grey-dark-2); }

.header-search--button {
  border: none;
  background-color: var(--color-grey-light-1); }
  .header-search--button--svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }

.header-interactive {
  display: flex;
  margin: 3rem auto;
  position: relative; }
  .header-interactive > * {
    cursor: pointer;
    height: 100%; }
  .header-interactive--bookmark--svg {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-dark-2); }
    .header-interactive--bookmark--svg:hover {
      fill: var(--color-grey-dark-1); }
  .header-interactive--chat--svg {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-dark-2); }
    .header-interactive--chat--svg:hover {
      fill: var(--color-grey-dark-1); }
  .header-interactive--user {
    position: relative; }
    .header-interactive--user--image {
      height: 3rem;
      width: 3rem; }
    .header-interactive--user--name {
      visibility: hidden;
      width: 10rem;
      background-color: transparent;
      color: var(--color-grey-dark-2);
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 3rem;
      left: -3rem;
      z-index: 1; }
    .header-interactive--user:hover .header-interactive--user--name {
      visibility: visible;
      z-index: 1; }
  .header-interactive--notifNum {
    position: absolute;
    top: -1rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 2rem;
    display: flex;
    justify-content: center;
    z-index: 0;
    color: var(--color-grey-light-1); }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .sidebar {
      flex-direction: row;
      width: 100%; } }
  .sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    align-self: stretch; }
    @media only screen and (max-width: 900px) {
      .sidebar-top {
        width: 100%;
        flex-direction: row;
        margin: 0; } }
    .sidebar-top--divs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      color: var(--color-grey-light-2);
      position: relative; }
      @media only screen and (max-width: 900px) {
        .sidebar-top--divs {
          height: 100%;
          padding: 1rem 3rem; } }
      .sidebar-top--divs:not(:last-child) {
        margin-bottom: 1rem; }
        @media only screen and (max-width: 900px) {
          .sidebar-top--divs:not(:last-child) {
            margin-right: 1rem; } }
      .sidebar-top--divs::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
        width: 5px;
        height: 100%;
        transform: scaleY(0);
        transition: transform .2s, width ease-in-out .2s;
        transform-origin: center; }
        @media only screen and (max-width: 900px) {
          .sidebar-top--divs::before {
            height: 5px;
            width: 100%;
            transform: scaleX(0);
            transition: transform .2s, width ease-in-out .2s;
            transform-origin: center; } }
      .sidebar-top--divs:hover::before {
        transform: scaleY(1);
        width: 100%; }
        @media only screen and (max-width: 900px) {
          .sidebar-top--divs:hover::before {
            transform: scaleX(1);
            height: 100%; } }
    .sidebar-top-svg {
      position: relative;
      z-index: 10;
      width: 2rem;
      height: 2rem;
      fill: currentColor; }
    .sidebar-top--text {
      position: relative;
      z-index: 10;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: .2rem;
      padding-left: 1rem; }
  .sidebar-bottom {
    margin-bottom: 4rem;
    color: var(--color-grey-light-4); }
    @media only screen and (max-width: 900px) {
      .sidebar-bottom {
        display: none; } }

.sidebar-top--hotel::before {
  width: 100%;
  transform: scaleY(1); }
  @media only screen and (max-width: 900px) {
    .sidebar-top--hotel::before {
      height: 100%;
      transform: scaleX(1); } }

.hotel-view {
  overflow: hidden; }
  .hotel-view--gallery {
    display: flex; }
    .hotel-view--gallery--images {
      width: calc(100%/3); }
  .hotel-view--hotel {
    height: 7rem;
    background-color: var(--color-grey-light-1);
    display: flex;
    justify-content: center;
    align-items: center; }
    .hotel-view--hotel--name {
      flex: 1;
      margin-left: 2rem;
      font-size: 2rem;
      word-spacing: .5rem;
      color: var(--color-grey-dark-1); }
    .hotel-view--hotel--rating {
      flex: 1; }
      .hotel-view--hotel--rating--svg {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary); }
    .hotel-view--hotel--location {
      flex: 1;
      margin-right: 2rem;
      font-size: 1.5rem;
      color: var(--color-primary);
      display: flex;
      justify-content: center;
      align-items: center; }
      .hotel-view--hotel--location--svg {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary); }
      .hotel-view--hotel--location p {
        padding-bottom: .1rem;
        display: inline-block;
        border-bottom: 0.05rem solid var(--color-primary); }
        .hotel-view--hotel--location p:hover {
          color: var(--color-grey-dark-1);
          border-bottom: .05rem solid currentColor; }
    .hotel-view--hotel--votes {
      flex: .5;
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 1rem;
      color: var(--color-grey-light-1);
      background-color: var(--color-primary);
      align-items: center;
      justify-content: center;
      font-weight: 300; }
      .hotel-view--hotel--votes--rating {
        font-size: 2rem; }
  .hotel-view--main {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-grey-light-3);
    color: var(--color-grey-dark-2);
    padding: 5rem 4rem; }
    @media only screen and (max-width: 600px) {
      .hotel-view--main {
        flex-direction: column;
        justify-content: space-between; } }
    .hotel-view--main--left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      background-color: var(--color-grey-light-1); }
      .hotel-view--main--left > * {
        border-bottom: 0.3rem solid var(--color-grey-light-3);
        padding: 2rem; }
      .hotel-view--main--left--1 {
        margin-top: 3rem;
        font-size: 1.5rem; }
        .hotel-view--main--left--1 > p:not(:last-child) {
          margin-bottom: 2rem; }
      .hotel-view--main--left--2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        .hotel-view--main--left--2--bits {
          width: 50%;
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 1rem 0;
          font-size: 1.3rem; }
          .hotel-view--main--left--2--bits--svg {
            width: 2rem;
            height: 2rem;
            fill: var(--color-primary); }
          .hotel-view--main--left--2--bits--text {
            display: inline-block;
            padding-left: 1rem; }
      .hotel-view--main--left--3 {
        display: flex;
        align-items: center; }
        .hotel-view--main--left--3--text {
          flex: 1;
          font-size: 1.3rem; }
        .hotel-view--main--left--3--images {
          flex: .5;
          display: flex; }
          .hotel-view--main--left--3--images--img {
            width: calc(100%/4);
            border-radius: 50%;
            border: 0.3rem solid var(--color-grey-light-1); }
            .hotel-view--main--left--3--images--img:not(:first-child) {
              margin-left: -10%; }
    .hotel-view--main--right {
      flex: .5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 3rem; }
      @media only screen and (max-width: 600px) {
        .hotel-view--main--right {
          width: 100%;
          margin: 3rem 0; } }
      .hotel-view--main--right--div {
        background-color: var(--color-grey-light-1);
        position: relative; }
        @media only screen and (max-width: 600px) {
          .hotel-view--main--right--div {
            width: 100%;
            margin-bottom: 2rem; } }
        .hotel-view--main--right--div--text {
          color: var(--color-grey-dark-1);
          font-size: 1.3rem;
          padding: 2rem;
          z-index: 20;
          position: relative; }
        .hotel-view--main--right--div--reviewer {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-bottom: 3rem; }
          .hotel-view--main--right--div--reviewer--pic {
            width: calc(100%/6);
            border-radius: 50%; }
          .hotel-view--main--right--div--reviewer--details {
            font-size: 1.3rem;
            text-transform: capitalize; }
            .hotel-view--main--right--div--reviewer--details--date {
              font-size: 1rem; }
          .hotel-view--main--right--div--reviewer--rating {
            color: var(--color-primary);
            font-size: 2rem; }
        .hotel-view--main--right--div::before {
          content: "\201C";
          position: absolute;
          top: -1.2rem;
          left: 0rem;
          font-size: 10rem;
          line-height: 1;
          color: var(--color-grey-dark-3);
          font-family: sans-serif;
          z-index: 1; }
      .hotel-view--main--right--showAll > a {
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--color-primary);
        padding: 1rem;
        border-bottom: 0.2rem solid var(--color-primary); }
        .hotel-view--main--right--showAll > a:hover {
          color: #fff;
          background-color: var(--color-primary); }
          .hotel-view--main--right--showAll > a:hover span {
            margin-left: .5rem; }
  .hotel-view--footer {
    background-color: #fff;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase; }
    .hotel-view--footer--button {
      margin: 3rem 0;
      position: relative;
      overflow: hidden; }
      .hotel-view--footer--button:link, .hotel-view--footer--button:visited {
        color: var(--color-grey-light-1);
        background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
        border-radius: 10rem;
        padding: 1rem 4rem;
        text-decoration: none; }
