.header {
    &-icon {
        &--image {
            height: 4rem;
            margin-left: 2rem;
        }
    }

    &-search {
        &>form {
            display: flex;
            align-items: center;
        }

        &--input {
            width: 40%;
            margin-left: 10%;
            margin-right: -3rem;
            height: 3rem;
            padding: .5rem 2rem;
            border: none;
            border-radius: 50rem;
            transition: all .5s;
            background-color: var(--color-grey-light-1);
            color: var(--color-grey-dark-2);

            &:focus {
                width: 44%;
                outline: none;
            }

            &::-webkit-input-placeholder {
                font-family: inherit;
                font-size: 1rem;
                letter-spacing: .3rem;
                text-transform: uppercase;
                color: var(--color-grey-dark-2);
            }
        }

        &--button {
            border: none;
            background-color: var(--color-grey-light-1);

            &--svg {
                height: 2rem;
                width: 2rem;
                fill: var(--color-grey-dark-2);
            }
        }
    }

    &-interactive {
        display: flex;
        margin: 3rem auto;
        position: relative;

        &>* {
            cursor: pointer;
            height: 100%;
        }

        &--bookmark {
            &--svg {
                height: 3rem;
                width: 3rem;
                fill: var(--color-grey-dark-2);

                &:hover {
                    fill: var(--color-grey-dark-1);
                }
            }
        }

        &--chat {
            &--svg {
                height: 3rem;
                width: 3rem;
                fill: var(--color-grey-dark-2);

                &:hover {
                    fill: var(--color-grey-dark-1);
                }
            }
        }

        &--user {
            position: relative;

            &--image {
                height: 3rem;
                width: 3rem;
            }

            &--name {
                visibility: hidden;
                width: 10rem;
                background-color: transparent;
                color: var(--color-grey-dark-2);
                text-align: center;
                text-transform: uppercase;

                position: absolute;
                top:3rem;
                left:-3rem;
                z-index: 1;
            }

            &:hover .header-interactive--user--name {
                visibility: visible;
                z-index: 1;
            }
        }

        &--notifNum {
            position: absolute;
            top: -1rem;
            background-color: var(--color-primary);
            border-radius: 50%;
            width: 2rem;
            display: flex;
            justify-content: center;
            z-index: 0;
            color: var(--color-grey-light-1);
        }
    }
}