.hotel-view {
    overflow: hidden;

    &--gallery {
        display: flex;

        &--images {
            width: calc(100%/3);
        }
    }

    &--hotel {
        height: 7rem;
        background-color: var(--color-grey-light-1);
        display: flex;
        justify-content: center;
        align-items: center;

        &--name {
            flex: 1;
            margin-left: 2rem;
            font-size: 2rem;
            word-spacing: .5rem;
            color: var(--color-grey-dark-1);
        }

        &--rating {
            flex: 1;

            &--svg {
                width: 2rem;
                height: 2rem;
                fill: var(--color-primary);
            }
        }

        &--location {
            flex:1;
            margin-right: 2rem;
            font-size: 1.5rem;
            color: var(--color-primary);

            display: flex;
            justify-content: center;
            align-items: center;

            &--svg {
                width: 2rem;
                height: 2rem;
                fill: var(--color-primary);
            }

            p {
                padding-bottom: .1rem;
                display: inline-block;
                border-bottom: .05rem solid var(--color-primary);

                &:hover {
                    color: var(--color-grey-dark-1);
                    border-bottom: .05rem solid currentColor;
                }
            }

        }

        &--votes {
            flex:.5;
            display: flex;
            height: 100%;
            flex-direction: column;
            padding: 1rem;
            color: var(--color-grey-light-1);
            background-color: var(--color-primary);
            align-items: center;
            justify-content: center;
            font-weight: 300;

            &--rating {
                font-size: 2rem;
            }
        }
    }

    &--main {

        display: flex;
        justify-content: space-evenly;
        background-color: var(--color-grey-light-3);
        color: var(--color-grey-dark-2);
        padding: 5rem 4rem;

        @include respond(phone){
            flex-direction: column;
            justify-content: space-between;
        }

        &--left {

            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            background-color: var(--color-grey-light-1);


            &>* {
                border-bottom: .3rem solid var(--color-grey-light-3);
                padding: 2rem;
            }

            &--1 {
                margin-top: 3rem;
                font-size: 1.5rem;

                &>p:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            &--2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                &--bits {
                    width: 50%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 1rem 0;
                    font-size: 1.3rem;

                    &--svg {
                        width: 2rem;
                        height: 2rem;
                        fill: var(--color-primary);
                    }

                    &--text {
                        display: inline-block;
                        padding-left: 1rem;
                    }
                }

            }

            &--3 {
                display: flex;
                align-items: center;
                &--text {
                    flex: 1;
                    font-size: 1.3rem;
                }

                &--images {
                    flex: .5;

                    display: flex;

                    &--img {
                        width: calc(100%/4);
                        border-radius: 50%;

                        &:not(:first-child) {
                            margin-left: -10%;
                        }

                        border: .3rem solid var(--color-grey-light-1);
                    }
                }
            }
        }

        &--right {
            flex: .5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0 3rem;

            @include respond(phone){
                width: 100%;
                margin:3rem 0;
            }
        
            &--div {
                background-color: var(--color-grey-light-1);
                position: relative;

                @include respond(phone){
                    width: 100%;
                    margin-bottom: 2rem;

                }

                &--text{
                    color:var(--color-grey-dark-1);
                    font-size: 1.3rem;
                    padding: 2rem;
                    z-index: 20;
                    position: relative;
                }

                &--reviewer{
                    display: flex;
                    justify-content: space-around;
                    align-items: center; 
                    padding-bottom:3rem;

                    &--pic{
                        width: calc(100%/6);
                        border-radius: 50%;
                    }

                    &--details{
                        font-size: 1.3rem;
                        text-transform: capitalize;

                        &--date{
                            font-size: 1rem;
                        }
                    }

                    &--rating{
                        color:var(--color-primary);
                        font-size: 2rem;
                    }
                }
                &::before{
                    content: "\201C";
                    position: absolute;
                    top:-1.2rem;
                    left:0rem;
                    font-size: 10rem;
                    line-height: 1;
                    color:var(--color-grey-dark-3);
                    font-family: sans-serif;
                    z-index: 1;
                }
            }

            &--showAll{
                
                & > a{
                    font-size: 1.5rem;
                    text-decoration: none;
                    color:var(--color-primary);
                    padding: 1rem;
                    border-bottom: .2rem solid var(--color-primary);

                    &:hover{
                        // color:var(--color-grey-light-4);
                        color:#fff;
                        background-color: var(--color-primary);

                        & span{
                            margin-left: .5rem;
                        }
                    }
                }
            }
        }
    }
    &--footer{
        // height: 15rem;
        background-color: #fff;
        padding:3rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center; 
        font-size: 2rem;
        text-transform: uppercase;


        &--button{
            margin: 3rem 0;
            position: relative;
            overflow: hidden;

            &:link,
            &:visited{
                color:var(--color-grey-light-1);
                background-image: linear-gradient(to right bottom,var(--color-primary-light), var(--color-primary-dark));
                border-radius: 10rem;
                padding:1rem 4rem;
                text-decoration: none;

                // &:hover{
                //     .hotel-view--footer--button--rooms{
                //         visibility: visible;
                //         transform: translateY(100%);
                //     }
                //     .hotel-view--footer--button--book{
                //         transform: translateY(+150%);
                //     }
                // } 
            }

            // & > *{
            //     display: inline-block;
            //     transition: transform .5s;
            //     width: 100%;
            //     height: 100%;
            // }

            // &--book{
            //     width: 20rem;
            // }
            // &--rooms{
            //     position: absolute;
            //     top:-100%;
            //     left:0;
            //     visibility: hidden;
            //     padding:1rem 4rem;
            // }
        }
    }
}