.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height:100%;
    overflow: hidden;


    @include respond(tab-port){
        flex-direction: row;
        width: 100%;
    }

    &-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
        align-self:stretch;

        @include respond(tab-port){
            width: 100%;
            flex-direction: row;
            margin:0;
        }

        &--divs{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            color:var(--color-grey-light-2);
            position: relative;
            
            @include respond(tab-port){
                height: 100%;
                padding: 1rem 3rem;
            }
            
            &:not(:last-child){
                margin-bottom:1rem;
                @include respond(tab-port){
                    margin-right:1rem;
                }
            }

            &::before{
                content: "";
                position: absolute;
                top:0;
                left: 0;
                background-color: var(--color-primary);
                width: 5px;
                height: 100%;
                transform: scaleY(0);
                transition: transform .2s,
                            width ease-in-out .2s;
                transform-origin: center;

                @include respond(tab-port){
                    height: 5px;
                    width: 100%;
                    transform: scaleX(0);
                    transition: transform .2s,
                            width ease-in-out .2s;
                    transform-origin: center;
                }
            }

            &:hover::before
            {
                transform: scaleY(1);
                width: 100%;
                @include respond(tab-port){
                    transform: scaleX(1);
                    height: 100%;
                }
            }
        }

        &-svg {
            position: relative;
            z-index: 10;
            width: 2rem;
            height: 2rem;
            fill:currentColor;
        }

        &--text{
            position: relative;
            z-index: 10;
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: .2rem;
            padding-left: 1rem;
        }
    }

    &-bottom{
        margin-bottom: 4rem;
        color:var(--color-grey-light-4);

        @include respond(tab-port){
            display: none;
        }
    }
}

.sidebar-top--hotel::before{
    width: 100%;
    transform:scaleY(1);

    @include respond(tab-port){
        height: 100%;
        transform: scaleX(1);
    }
}